/*
ul{padding: 0;
   margin: 0;
   list-style-type: none}

ul a{width: 200px ;
	height: 40px;
	display: block;
	color: black;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
    background: #f7b600 url(imagens/menu.png) no-repeat; }


a:hover, .selecionado a{background-position: right bottom;
	    background-color: #f99200;
        color: white; */


/* BARRA DE NAVEGAÇAO HORIZONTAL */

/*
ul#navegacao{margin: 0;
	         padding: 0;
	         list-style: none;
	         width: 720px;
	         background: #159cb0 url(imagens/fundo-horizontal.png) repeat-x;
	         float: left;}

ul li{ float: left;}

ul#navegacao a{display: block;
	           padding: 0 2em;
	           line-height: 3em;
	           text-decoration: none;
	           color: white;
	           background: url(imagens/divisor.png) repeat-y;}

ul .primeiro a{background: none;}	


ul a:hover { color: #085662;
             background: #44cade;*/


/*Layout*/

/*IMAGEM LIQUIDA E COLUNA FALSA
body{font-family: "Trebuchet MS", Helvetica, sans-serif;
	  background: #f2f2f2;}


#container{width: 960px;
           margin: 0 auto;
           background: #fff url(imagens/coluna.png) repeat-y left top;
           min-width: 820px;
           max-width:1280px; }

#marca{height: 200px;
	    background: #225992 url(imagens/cabecalho2.jpg) no-repeat center;
	    text-align: center;
	    line-height: 200px;}


#conteudo{ width: 75%;
           float: right;}	  

#navegacao{width: 23%;
           float: left;
           
           padding-top: 20px;
           padding-bottom: 20px; 
           text-align: center}

#rodape{clear: both;
        background: #c4c4c4;
        padding: 5px;}

#imagem{width: 90%;
	     overflow: hidden;
	     max-width: 600px;*/







/*Tabela customizada	    

body{font-family: "Trebuchet MS", Helvetica, sans-serif;}

table{width: 600px;
      border-collapse: separate;}

th td{padding: 7px;}

th{text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 1px solid #111;
	font-size: 90% ;
	letter-spacing: 0.1em;}

tr.alternado{background-color: #efefef ;}

.numero{ text-align: right;}

tr:hover{ background-color: #c3e6e5;}*/






/*Estilizando Formulário 

body{font-family: "Trebuchet MS", Helvetica, sans-serif;}

fieldset{padding: 1em;
	      margin: 1em 0;
	     border: 1px solid #ccc;
	     background-color: #f8f8f8;}

legend{font-weight: bold;}

label{display: block;
      cursor: pointer;}

input[type="text"]{width: 20em;}

textarea{ width: 20em;
          height: 10em;}

form{width: 310px;}

*/
	 
/*´FORMULARIO DE IDENTIFICAÇAO */

body{font-family: "Trebuchet MS", Helvetica, sans-serif;
     background: #643d87 url(formularioIMG/fundo.jpg) no-repeat top center;}

#container{width: 400px;
	     height: 300px;
	     background-color: rgba(255, 255, 255, 0.3);
	     -webkit-border-radius: 10px;
	     -moz-border-radius: 10px;
	     border-radius: 10px;
	     margin: 0 auto;
	     margin-top: 120px; 
	     text-align: center} 

#container img{width: 120px;
               height: 120px;
               margin-top: -60px;
               margin-bottom: 30px;}

input {height: 40px;
       width: 80%;
       font-size: 18px;
       margin-bottom: 10px;
       background-color: #fff; 
       padding-left: 40px;
       border: none;
       background-repeat: no-repeat;
       background-position: 10px}

input.email{background-image: url(formularioIMG/icone-usuario.png);}

input.senha{background-image: url(formularioIMG/icone-cadeado.png);}


input.submit{color: #fff;
	         background-color: #f79300;
	         border: 2px solid #db7d00;
	         padding: 5px 20px;
	         height: 45px;
	         width: 90%;
	         background: linear-gradient(to bottom, #faa600, #f68a00);
 			}






               	     



	     


